h1{
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin: 60px;
    color: black;
}
p{
    font-family: "Google Sans Code", monospace;
    font-weight: 600;
    font-size: 25px;
    color: #444;
    margin: 40px;
}
button{
    padding: 30px 80px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: blue;
    border: 2px solid black;
    transition: .2s;
}
button:hover{
       background-color:#008001; 
}
.quet{
        font-family: "Google Sans Code", monospace;
    font-weight: 600;
    font-size: 25px;
    color: #444;
    margin: 40px;
}